@import "tailwindcss";


/* nav li:first-child::before{
    position: absolute;
    top:0;
    content: "";
    width: 50px;
    height: 3px;
    display: flex;
    background-color: #ffa155;
} */

body {
    font-family: "Poppins", sans-serif;
}